# Java class files
*.class

# Maven / Gradle build folders
target/
build/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring Boot devtools
restart/

# Others
*.jar
*.war
